# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Environments
.venv/
venv/
env/
ENV/
.conda/

# Tooling caches
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
.hypothesis/
.nox/
.tox/

# Build artifacts
build/
dist/
*.egg-info/
pip-wheel-metadata/

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Matplotlib cache
.matplotlib/
